
/* Styles used by the client's page editor */

/* Editor defaults (background color and font style in particular) */
body {background-color:#9A9262;}
img {margin: 0 0.5em 0.25em 0.5em;}
a {color:#dfdccd;}

/* Default text style */
body, .normal, td {
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	color:#FFF;
}

/* Heading */
.h1 {
	color: #921a1d;
	font-size: 1.3rem;
	font-weight: normal;
}

/* Subheading */
.h2 {
	color: #ffffff;
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 1.2rem;
}

/* Emphasis */
.h3 {
	color: #921a1d;
	font-weight: bold;
}
