[Unit]
Description=gunicorn daemon for manage django app
Requires=manage_django.socket
After=network.target

[Service]
User=cinemanager
Group=www-data
WorkingDirectory=/home/cinemanager/cinemanager/manage_django/manage
ExecStart=/home/cinemanager/cinemanager/manage_django/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/manage_django.sock \
          manage.wsgi:application

[Install]
WantedBy=multi-user.target
