[Unit]
Description=gunicorn daemon for polls django app
Requires=polls_django.socket
After=network.target

[Service]
User=cinemanager
Group=www-data
WorkingDirectory=/home/cinemanager/cinemanager/polls_django/polls
ExecStart=/home/cinemanager/cinemanager/polls_django/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/polls_django.sock \
          polls.wsgi:application

[Install]
WantedBy=multi-user.target
